<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>Dominio</title>
  </head>
  <body>
    <h1>Parámetros ...</h1>
    addr:
    <h2 th:text="${addr}">addr</h2>
    canonnical:
    <h2 th:text="${hostnameCanonical}">hostnameCanonical</h2>
    hostname:
    <h2 th:text="${hostname}">hostname</h2>
    address:
    <h2 th:text="${address}">address</h2>
    url:
    <h2 th:text="${url}">url</h2>
    puerto:
    <h2 th:text="${port}">port</h2>
    host:
    <h2 th:text="${host}">host</h2>
    protocolo:
    <h2 th:text="${protocol}">protocol</h2>
    path:
    <h2 th:text="${path}">path</h2>
    query:
    <h2 th:text="${query}">query</h2>
    dominio:
    <h2 th:text="${dominio}">dominio</h2>
    tld:
    <h2 th:text="${tld}">tld</h2>
 <hr>
  </body>
</html>
